
/* Global variables */
:root{
    --theme-orange: hsl(34, 99%, 36%);
    --theme-white: white;
    --color-nav-bar: var(--theme-orange);
    --color-nav-font: var(--theme-white);
    --color-accent: var(--theme-orange);
    --color-main-font: var(--theme-white);
}


body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 75px 1fr 2fr 1fr 75px;
    grid-template-rows: 50px auto auto auto;
    row-gap: 30px;
}

/* Nav bar stuff */
.navbar{
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    background-color: var(--color-nav-bar);
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 10px 0;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    color: var(--color-nav-font);
    font-size: 1.2em;
}

/* Background image */
#background-image{
    position: fixed;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Main content area */
main{
    display: contents;
}

/* Section Grid Position */
.introduction{
    grid-row: 2;
    grid-column: 2 / 3;
}
.portfolio{
    grid-row: 2;
    grid-column: 4 / 5;
}
.schedule{
    grid-row: 3;
    grid-column: 4 / 5;
}
.assignments{
    grid-row: 3;
    grid-column: 2 / 3;
}

footer{
    grid-row: 4;
    grid-column: 3 / 4;
    text-align: center;
}

.introduction, .portfolio, .schedule, .assignments, footer{
    padding-top: 8px;
    border-top: 5px solid var(--color-accent);
}
h2 {
    font-style: normal;
    color: var(--color-main-font);
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    padding-top: 0;
}

/* Dealing with content stuff */
.introduction div{
    opacity: 0;
    transition: opacity 1s;
}
#introduction{
    justify-self: center;
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: center;
}
#introduction:active{
    transform: scale(0);
    opacity: 0;
}
#introduction:active + div{
    opacity: 1;
}

.portfolio div{
    opacity: 0;
    transition: opacity 1s;
}
#portfolio{
    justify-self: center;
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: center;
}
#portfolio:hover{
    transform: scale(0);
    opacity: 0;
}
#portfolio:hover + div{
    opacity: 1;
}


.schedule div{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
#schedule:hover + div{
    display:block;
}
#schedule-content:hover{
    display:block
}
